.user-info {
  margin-bottom: 3em;
  color: #fff;
}

.user-info h2 {
  margin-bottom: 1em;
  text-align: center;
}

ul {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin: 0.5em 0;
}

.comparator-tables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2em;
}

.comparator-tables table {
  width: 12em;
}

.crypto-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.8em;
}

.crypto-div div {
  height: 1.5em;
  width: 2em;
  margin-left: 0.5em;
  margin-top: -5px;
  background-repeat: no-repeat;
}

.crypto-div .BTC {
  background-image: url(../../images/bitcoin.png);
}

.crypto-div .XRP {
  background-image: url(../../images/xrp.png);
}

.crypto-div .ETH {
  background-image: url(../../images/ethereum.png);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.card {
  background: #fff;
  min-width: 20em;
  padding: 3em;
  border-radius: 1.5em;
}

.card,
input {
  box-shadow: 10px 6px 18px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 6px 18px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 6px 18px -10px rgba(0, 0, 0, 0.75);
}

form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1em;
}

form .form-group label,
form .form-group small {
  display: block;
  font-size: 1.2em;
  font-weight: 300;
  margin: 0.5em 0;
}

form .inline {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
}

form .inline div {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

input {
  height: 3em;
  line-height: 1.5em;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

input.btn {
  margin: 1em 0;
  border: none;
  background: #1242e0;
  color: #e9e9e9;
}

input.btn:hover {
  cursor: pointer;
}

.mb-1 {
  margin-bottom: 1em;
}

.text-center {
  text-align: center;
}

.text-danger {
  color: red;
  font-weight: 300;
}

.main-loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fefefe;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loading .dot {
  position: relative;
  width: 2em;
  height: 2em;
  margin: 0.8em;
  border-radius: 50%;
}

.loading .dot::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  -webkit-animation: wave 2s ease-out infinite;
          animation: wave 2s ease-out infinite;
}

.loading .dot:nth-child(1) {
  background: #7ef9ff;
}

.loading .dot:nth-child(1)::before {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loading .dot:nth-child(2) {
  background: #89cff0;
}

.loading .dot:nth-child(2)::before {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loading .dot:nth-child(3) {
  background: #4682b4;
}

.loading .dot:nth-child(3)::before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loading .dot:nth-child(4) {
  background: #0f52ba;
}

.loading .dot:nth-child(4)::before {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loading .dot:nth-child(5) {
  background: #000080;
}

.loading .dot:nth-child(5)::before {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes wave {
  50%,
  75% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes wave {
  50%,
  75% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
/*# sourceMappingURL=main.css.map */