* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

// general
.card {
  background: #fff;
  min-width: 20em;
  padding: 3em;
  border-radius: 1.5em;
}

.card,
input {
  box-shadow: 10px 6px 18px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 6px 18px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 6px 18px -10px rgba(0, 0, 0, 0.75);
}

// FORMS
form {
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

    label,
    small {
      display: block;
      font-size: 1.2em;
      font-weight: 300;
      margin: 0.5em 0;
    }
  }

  .inline {
    flex-direction: row !important;
    justify-content: space-between;
    gap: 1em;

    div {
      align-self: flex-end;
    }
  }
}

input {
  height: 3em;
  line-height: 1.5em;
  border-radius: 5px;
  padding: 10px;
  width: 100%;

  &.btn {
    margin: 1em 0;
    border: none;
    background: $primary-btn-bg-color;
    color: $primary-btn-txt-color;

    &:hover {
      cursor: pointer;
    }
  }
}

.mb-1 {
  margin-bottom: 1em;
}
.text-center {
  text-align: center;
}

.text-danger {
  color: red;
  font-weight: 300;
}
