.user-info {
  margin-bottom: 3em;
  color: #fff;
}

.user-info h2 {
  margin-bottom: 1em;
  text-align: center;
}

ul {
  margin: 1em 0;
  padding: 0;
  list-style: none;
}

ul li {
  margin: 0.5em 0;
}

.comparator-tables {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2em;
}

.comparator-tables table {
  width: 12em;
}

.crypto-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.8em;
}

.crypto-div div {
  height: 1.5em;
  width: 2em;
  margin-left: 0.5em;
  margin-top: -5px;
  background-repeat: no-repeat;
}

.crypto-div .BTC {
  background-image: url(../../images/bitcoin.png);
}

.crypto-div .XRP {
  background-image: url(../../images/xrp.png);
}

.crypto-div .ETH {
  background-image: url(../../images/ethereum.png);
}
/*# sourceMappingURL=styles.css.map */