.user-info {
  margin-bottom: 3em;
  color: #fff;

  h2 {
    margin-bottom: 1em;
    text-align: center;
  }
}

ul {
  margin: 1em 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0.5em 0;
  }
}

.comparator-tables {
  display: flex;
  justify-content: space-between;
  gap: 2em;

  table {
    width: 12em;
  }
}

.crypto-div {
  display: flex;
  margin-bottom: 0.8em;

  div {
    height: 1.5em;
    width: 2em;
    margin-left: 0.5em;
    margin-top: -5px;
    background-repeat: no-repeat;
  }
  .BTC {
    background-image: url(../../images/bitcoin.png);
  }
  .XRP {
    background-image: url(../../images/xrp.png);
  }
  .ETH {
    background-image: url(../../images/ethereum.png);
  }
}
